<!doctype html>
<html lang="en" data-framework="javascript">
	<head>
		<meta charset="utf-8">
		<title>TodoMVC</title>
		<link rel="stylesheet" href="css/base.css">
		<link rel="stylesheet" href="css/index.css">
	</head>
	<body>
		<section class="todoapp">
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<p>Created by <a href="http://twitter.com/oscargodson">Oscar Godson</a></p>
			<p>Refactored by <a href="https://github.com/cburgmer">Christoph Burgmer</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
        <!-- -----------------------------------------------------------------------------  -->
        <!-- Content templates                                                              -->
        <!-- -----------------------------------------------------------------------------  -->
        <section id="templates">
            <!-- Content template -->
            <template id="template-content">
                <header class="header">
                    <h1>todos</h1>
                    <input class="new-todo" placeholder="{{placeholder}}" autofocus>
                </header>
                <section class="workspace">
                    <section class="main">
                        <input class="toggle-all" type="checkbox">
                        <label for="toggle-all">{{markall}}</label>
                        <ul class="todo-list"></ul>
                    </section>
                    <section class="menu">
                        <span class="todo-count"></span>
                        <ul class="filters">
                            <li>
                                <a href="#/" class="selected">{{default}}</a>
                            </li>
                            <li>
                                <a href="#/active">{{active}}</a>
                            </li>
                            <li>
                                <a href="#/completed">{{completed}}</a>
                            </li>
                        </ul>
                        <button class="clear-completed">{{clear}}</button>
                    </section>
                </section>
            </template>

            <!-- Todo list item template -->
            <template id="template-listitem">
                <li data-id="{{id}}" class="{{completed}}">
                    <div class="view">
                        <input class="toggle" type="checkbox" {{checked}}>
                        <label>{{title}}</label>
                        <button class="destroy"></button>
                    </div>
                </li>
            </template>

            <!-- Todos summary template -->
            <template id="template-summary">
                <strong>{{count}}</strong> item{{plural}} left
            </template>
        </section>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.js"></script>
        <script src="js/create.js"></script>
        <script src="js/delegate.js"></script>
        <script src="js/inherit.js"></script>
        <script src="js/kit.js"></script>
        <script src="js/glossary.js"></script>
        <script src="js/eventbus.js"></script>
        <script src="js/publisher.js"></script>
        <script src="js/subscriber.js"></script>
		<script src="js/template.js"></script>
		<script src="js/storage.js"></script>
		<script src="js/dispatcher.js"></script>
		<script src="js/view.js"></script>
		<script src="js/todoitem.js"></script>
		<script src="js/todoconfig.js"></script>
		<script src="js/todostore.js"></script>
		<script src="js/todotemplate.js"></script>
		<script src="js/todoview.js"></script>
		<script src="js/todos.js"></script>
		<script src="js/main.js"></script>
	</body>
</html>
