.content {
	width: 100%;
	max-width: inherit;
	margin: 0;
	padding: 0;
	background: #fff;
	/*margin: 130px 0 40px 0;*/
	/*position: relative;*/
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.content input::-webkit-input-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

.content input:-moz-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

.content input::input-placeholder {
	font-style: italic;
	color: #a9a9a9;
}

.content h1 {
    position: absolute;
    top: -120px;
    width: 100%;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    color: #b3b3b3;
    color: rgba(255, 255, 255, 0.3);
    text-shadow: -1px -1px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}
